<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'django_website/images/favicon.png' %}?v=2"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'django_website/css/home.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="row">
                    <div class="col-sm-12">
                        <img border="0" alt="INvestigate and Analyze a CITY" src="{% static 'django_website/images/logo_name.png' %}" height="51px">
                    </div>
                </div>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/fr"><img border="0" alt="Langue française" src="{% static 'django_website/images/flag_fr.png' %}" width="20px" height="20px"></a></li>
                <li><a href="/en-us"><img border="0" alt="English language" src="{% static 'django_website/images/flag_en-us.png' %}" width="20px" height="20px"></a></li>
                <li><a href="/pt-br"><img border="0" alt="Língua portuguesa" src="{% static 'django_website/images/flag_pt-br.png' %}" width="20px" height="20px"></a></li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron container">
        <h1><img border="0" alt="Langue française" src="{% static 'django_website/images/logo.png' %}" width="100px"> INACITY</h1>
        <p class="lead">INvestigate and Analyze a CITY - INACITY</p>
        <div class="row">
            <div class="col-sm-2"><p>Sponsors:</p></div>
            <div class="col-sm-5">
                <a href="http://interscity.org/">
                <img border="0" alt="Microsoft" src="{% static 'django_website/images/mslogo.png' %}" height="60px">
            </a>
            </div>
            <div class="col-sm-5">
                <a href="https://www.microsoft.com/">
                    <img border="0" alt="InterSCity" src="{% static 'django_website/images/interscitylogo.png' %}" height="60px">
                </a>
            </div>

        </div>
    </div>

    
    
    <div class="container alert alert-warning text-center" role="alert">
        A plataforma foi desenvolvida e testada com o navegador Google Chrome Versão 58.0.3029.110 (64-bit), caso tenha problemas usando um navegador diferente experimente ele.
    </div>
    {% block content %}{% endblock %}

    {% block footer %}
    <hr>
    <p>Thanks for visiting my site.</p>
    {% endblock %}

</body>
</html>