.profile-card-div {
    height: 100px;
    width: 100%;
    border-color:#4cff00;
    border-style:dashed;
    border-width:1px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-card-div > span {
    min-width: 160px;
    flex: 1 1 auto;
}

.profile-card-div > p {
    min-width: 260px;
    flex: 1 1 auto;
}

.profile-card-div > img {
    width: 70px;
    height: 88px;
    flex-shrink: 1;
    border-color:#000000;
    border-style:dashed;
    border-width:2px;
}