.active.active-list-item:not(:first-child){
    border-top-color: #f19999;
    border-top-width: 1px;
    border-top-style: dashed;
}

.hidden{
    display:none;
}

.language-flag{
    height:32px;
    width:32px;
}

.sponsor-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor-logo{
     height:120px;
     margin:5px;
}

.inacity-logo {
    width:100px;
}

.inacity-brand-logo {
    height:51px;
}