.containerMenu
{
    background-color: rgb(235, 235, 235);
}

.containerDiv
{
    max-height: 200px;
    justify-content: start;
    overflow-y:auto;
    overflow-x:hidden !important;
    border: 1px solid black;
}

.containerAddress
{
display: flex;
flex-direction: column;
justify-content: flex-start;
max-width: 400px;
border: 3px solid black;
border-radius: 3px;
}

.containerMenu
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25px;
    width: 100%;
}

.pinbutton
{

}

.trashbutton
{

}