certifi==2018.4.16
channels==2.3.0
channels-redis==2.4.0
daphne==2.3.0
Django==3.2.24
django-docs==0.3.0
django-extensions==2.2.1
django-js-reverse==0.9.1
djangorestframework==3.11.2
geojson==2.4.0
imageio==2.3.0
Jinja2==2.8
MarkupSafe==0.23
matplotlib==2.0.0
neo4j==1.7.5
numpy==1.12.1
Pillow==10.2.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
pygraphviz==1.5
pyproj==2.4.2
python-Levenshtein==0.12.2
redis==3.3.11
requests==2.31.0
scikit-image==0.14.0
scipy==1.1.0
shapely==1.7.0